doctype html
html
	head
		meta(charset='utf-8')
		meta(http-equiv='X-UA-Compatible', content='IE=edge')
		title=title

	body(style="background-color:#ccc;")

		table(width="600" cellpadding="0" cellspacing="0" bgcolor="ffffff")

			tbody

				tr
					td(width="600" align="center")
						a(href=heroImageLinkUrl target="_blank" style="text-decoration:none;" title=heroImageTitle)
							img(src=heroImageUrl width="600" alt=heroImageTitle)

				tr

					td(width="600" align="center")

						table(width="600" cellpadding="0" cellspacing="0" bgcolor="ffffff")

							tbody

								tr

									td(width="30" style="line-height:21px;font-size:1px;")&nbsp;

									td(width="540" align="center")

										table(width="540" cellpadding="0" cellspacing="0" bgcolor="ffffff")

											tbody

												tr
													td(width="540" align="center")
														h1(style="font-family:sans-serif;")=headingCopy

												tr
													td(align="center" style="font-family:sans-serif;")=bodyCopy

									td(width="30" style="line-height:21px;font-size:1px;")&nbsp;

				tr

					td(width="600" height="20" style="line-height:20px;font-size:20px;")&nbsp;

				tr

					td(width="600" align="center")

						table(width="600" cellpadding="0" cellspacing="0" bgcolor="7cf4c6")

							tbody

								tr

									td(width="30" style="line-height:21px;font-size:1px;")&nbsp;

									td(width="540" align="center")

										table(width="540" cellpadding="0" cellspacing="0" bgcolor="7cf4c6")

											tbody

												tr
													td(width="540" height="20" style="line-height:20px;font-size:20px;")&nbsp;

												tr
													td(width="540" align="center")
														p(style="color:#000; font-family:sans-serif; font-size:11px; line-height:11px;")=copyright

												tr
													td(width="540" height="20" style="line-height:20px;font-size:20px;")&nbsp;

									td(width="30" style="line-height:21px;font-size:1px;")&nbsp;

				

		